version: 2.1

executors:
  docker-node:
    docker:
      - image: cimg/node:20.14
    working_directory: ~/repo

commands:
  install-dependencies:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "yarn.lock" }}
            - v2-dependencies-
      - run:
          name: Install yarn dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "yarn.lock" }}

jobs:
  test:
    executor: docker-node
    steps:
      - install-dependencies
      - run:
          name: Run Tests
          command: yarn test


workflows:
  commit:
    jobs:
      - test:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
  nightly:
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test
